@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

input {
  border: none;
  background: none;
  font-size: 18px;
  padding: 10px;
}